@import '../../sass/main.scss';

.logement{
    &_file{
        @include flex(column, flex-start, center);
        width: 100%;
        padding: 1% 4% 1% 4%;

        &_content{
            padding: 2% 0 2% 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            color: $color-secondary;
            
            &_head{
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 50%;
                padding: 2% 0 1% 0;
                &_leftblock{
                    width: 70%;
                    
                    h2{
                        font-size: 36px;
                    }

                    h3{
                        font-size: 18px;
                    }

                    &_tagcontainer{
                        padding-top: 4%;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }
                }
                &_rightblock{ 
                    width: 30%; 
                }
            }
            &_body{
                width: 100%;
                padding: 4% 0 4% 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 5%;
            }
        }
    }
}

.host_card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0 10px;  
    h3{
        display: flex;
        align-self: center;
        flex-direction: column;
        font-size: 18px;
    }
    &_img{
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background-color: $color-imagebackground;
    }
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    color: $color-primary;
    background-color: $color-secondary;
    font-size: 14px;
}

//MQ phone
@media screen and (max-width: 767px){
    .logement{
        &_file{
            padding-bottom: 30%;

            &_content{
                &_head{
                    flex-direction: column;                    
                    &_leftblock{
                        width: 100%;
                        h2{
                            font-size: 18px;
                        }
    
                        h3{
                            font-size: 14px;
                        }
    
                        &_tagcontainer{
                           
                        }
                    }
                    &_rightblock{ 
                        @include flex(row-reverse, space-between, center);
                        width: 100%;
                        padding: 5% 0 5% 0;
                    }
                }
                &_body{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;

                }
            }
        }
    }

    .host_card{
        h3{      
            font-size: 12px;
        }
        &_img{
            width: 32px;
            height: 32px;    
        }
    }

    .tag{
        width: 84px;
        height: 18px;
        border-radius: 5px;
        font-size: 10px;
    }
}

//MQ Tablet
@media screen and (max-width:1023px){
    .logement{
        &_file{
            &_content{
                &_head{
                    gap: 30%;
                    &_leftblock{
                        width: 50%;
                        h2{
                            font-size: 30px;
                        }
                    }
                &_rightblock{
                    width: 50%;
                   @include flex(column, flex-end, center);
                }
                }
                &_body{
                    height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 20px;
                }
            }
        }
    }
    .host_card{
        &_img{
            width: 44px;
            height: 44px;
        }
    }
}