@import '../../sass/main.scss';

.host_card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0 10px;  
    h3{
        display: flex;
        align-self: center;
        flex-direction: column;
    }
    img{
        width: 64px;
        height: 64px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        background-color: $color-imagebackground;
    }
}