@import '../../sass/main.scss';

.logement{
    &_file{
        &_content{
            @include flex(column, space-around, flex-start);
            color: $color-secondary;
            &_head{
                @include flex(row, space-between, center);
                gap: 90%;
                &_leftblock{
                    width: 50%;
                }
                &_rightblock{
                    width: 50%;

                    &_rating{
                        @include flex(row, flex-start, center);
                        flex-wrap: nowrap
                    }
                }
            }
            &_body{
                @include flex(row, space-between, center);
                align-items: center;
            }
        }
    }
}