@import '../../sass/main.scss';

header{
    @include flex(row, space-between, center);
    height: 68px;
    padding: 5% 4% 6% 4%;
    img{
        height: 45%;
    }
}

//MQ phone et tablet
@media screen and (max-width: 1024px){
    header{
        height: auto;
        padding-top: 2%;
        padding-bottom:  2%;
        gap: 0;
        margin-bottom: 2%;
        img{
            height: 40px;
        }
    }
}