@import '../../sass/main.scss';

header{
    @include flex(row, space-between, center);
    height: 68px;
    padding: 5% 4% 6% 4%;
    img{
        height: 50%;
    }
}

//MQ phone
@media screen and (max-width: 767px){
    header{
        height: 47px;
        padding-top: 10%;
        padding-bottom:  8%;
        img{
            height: 40px;
        }
    }
}

