@import '../../sass/main.scss';

footer{
    @include flex(column, center, center);
    height: 209px;
    background-color: $color-footer;
    color: $color-primary;
    width: 100%;
    gap: 13%;
    margin-top: 3%;
    img{
        height: 19%;
        width: 8,5%;
    }
    p{
        font-size: 24px;
    }
}

//MQ phone
@media screen and (max-width: 767px){
    footer{
        margin-top: 5%;
        p{
            font-size: 12px;
        }
    }
}