@import '../../sass/main.scss';

.error404{
    height: 1024px;
    background-color: $color-primary;
    &__main{
        color: $color-secondary;
        &__message{
            @include flex(column, center, center);
            h2{
                font-weight: 700;
                font-size: 288px;
            }
            p{
                font-size: 36px;
                text-align: center;
            }
        }
        &__link{
            font-size: 18px;
            text-decoration-line: underline;
            color: $color-secondary;
            display: flex;
            justify-content: center;
            &:hover{
                font-weight: bold;
            }
        }
    }
}