@import '../../sass/main.scss';

nav{
    ul{
        display: flex;
        gap: 57px;
        font-size: 24px;
        li{
            a{
                color: $color-secondary;
                text-decoration: none;
                &:hover{
                font-weight: bold;
                }
            }
        }
    }
}

.link_page{
    &_active{
        text-decoration: underline solid $color-secondary;
    }
}

//MQ phone
@media screen and (max-width: 767px){
    nav{
        ul{
            gap: 10px;
            font-size: 12px;
        }
    }

}