@import '../../sass/main.scss';

nav{
    width: auto;
    @include flex(row, space-between, center);
    font-size: 24px;
    gap: 25px;
    a{
        color: $color-secondary;
        text-decoration: none;
        &:hover{
        font-weight: bold;
        }
    }
}

.link_page{
    &_active{
        text-decoration: underline solid $color-secondary;
    }
}

//MQ phone
@media screen and (max-width: 767px){
    nav{
        width: auto;
        height: auto;
        gap: 20px;
        a{
            font-size: 12px;
        }
    }
}

//MQ Tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
    nav{
        a{
            font-size: 18px;
        }
    }
    
}