@import '../../sass/main.scss';

.banner{
    @include flex(row, center, center);
    height: 223px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/banner-img.png');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    margin-bottom: 4%;
    p{
        color: $color-primary;
        font-size: 48px;
        display: flex;
        align-items: flex-end;
    }
}