@import '../../sass/main.scss';

.banner{
    height: 223px;    
    margin: 0 4% 4% 4%;
        
    &_home{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../assets/banner-img.png');
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 25px;
        @include flex(row, center, center);
        h1{
            color: $color-primary;
            font-size: 48px;
            display: flex;
            align-items: flex-end;
        }
    }
    &_about{
        background-image: url('../../assets/banner2-img.png');
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        border-radius: 25px;
    }
    &_hidden{
        display: none;
    }
}

//MQ phone and tablet
@media screen and (max-width: 767px){
    .banner{
        display: contents;   
        &_home{
            display: flex;
            justify-content: center;
            width: 90%;
            height: 120px;
            margin: 0 0 2% 4%;
            h1{
                width: 100%;
                font-size: 24px;
                display: block;
                text-align: center;
            }
        }
        &_about{
            height: 223px;
            width: 100%;
            margin: 1% 0 2% 0;
        }
    }
}